body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-menu {
  display: flex;
  padding: 1rem;
  a {
    text-decoration: none;
    &:focus, &:hover, &:visited {
      color: black;
    }
  }
  .logo {
    font-size: 1.5rem;
  }
  ul {
    list-style-type: none;
    margin: 0;
    margin-left: auto;
    li {
      display: inline-block;
      margin: 0 1rem;
    }
  }
}

.cart {
    font-size: 2rem;
  }

.cart-container {
  margin-left: auto;
  cursor: pointer
  ;
  .cart-count {
    margin-left: -2px;
    background-color: black;
    color: white;
    padding-right: 4px;
    border-radius: 10px;
  }
}

.hero-image {
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  background-image: url("./asserts/ben-white-mO9vKbG5csg-unsplash.jpg");
}

.hero-title {
  text-align: center;
  font-size: 2rem;
}
@media(min-width: 1024px) {
  .hero-image {
    font-size: 2.5rem;
  }
}

.shop-now-btn {
  text-align: center;
}
.main-section-container {
  width: 70%;
  margin: 3rem auto;
  h2 {
    font-size: 1.1rem;
  }
  .ms-m-description {
    p {
      font-size: 0.933 rem;
      line-height: 1.5;
    }
  }
}
@media(min-width: 1024px) {
  .main-section-middle {
    display: flex;
    justify-content: space-between;
  }
  .ms-m-image {
    max-width: 545 px;
    flex: 1 0 545px;
  }
  .ms-m-description {
    margin-left: 30px;
    align-self: center;
    p {
      font-size: 1.1rem;
    }
  }
}

.featured-product {
  border: 1px solid rgba(0,0,0, 0.125);
  padding: 1rem;
  margin-left: 1rem 0;
}

.footer-content {
  margin: auto;
  text-align: center;
  font-weight: bold;
}

.product-list-container {
  margin: 3rem 0;
  .product-list-title {
    margin-top: 5rem;
    text-align: center;
  }
  .product-list {
    div {
      margin: 1rem;
      cursor: pointer;
    }
  }
}

@media(min-width: 1024px) {
  .product-list-container{
    .product-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0 5rem;
      div {
        flex: 0 0 300px;
      }
  }
}
}
.single-product-container {
  display: flex;
  margin: 2rem 0;
  margin-bottom: 3rem;
  padding: 2rem;
  @media(min-width: 1024px)  {
    display: flex;
    justify-content: center;
    align-items: center;
    .product-image, .product-details {
      flex: 0 0 400px;
    }
  }
  .product-image {
    margin: 2rem;
  }
}
.add-to-cart-btns {
  /* width: 25%; */
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nomad-btn {
  margin: 5px 5px;
  width: 100%;
  padding: 5px;
  border: 2px solid black;
}

.is-black {
  background-color: black;
}

.text {
  color: white;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* full viewport height */
}

.header {
  height: 10%;
  background-color: #f5f5f5; /* optional */
}

.main-content {
  height: 80%;
  overflow-y: auto; /* allows scroll if content is long */
  background-color: #fff; /* optional */
}

.footer {
  height: 10%;
  width: 100%;
  background-color: #f5f5f5; /* optional */
}


.cart-item {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  border:  1px solid grey;
  margin: 1rem;
  padding:  1rem;
  .item-image {
    img {
      width: 200px;
    } 
  }
  .name-price {
    h4 {
      margin: 0;
    }
    p {
      font-size:  1rem;
      font-weight: normal;
    }
  }
  .btns-container {
    button {
      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
      font-size:  10px;
      margin-right: 5px;
    }
    .btn-increase {
      color: white;
      background-color:  black;
    }
    .btn-decrease, .btn-trash {
      color: white;
      background-color: #d9534f;
    }
  }
}
.total-container {
  margin: 1rem;
  text-align: center;
}
@media(min-width: 1024px) {
  .cart-page {
    display: flex;
    justify-content: center;
    .total-container {
      text-align: center;
    }
  }
  .cart-item {
    display: flex;
    justify-content: center;
    div {
      margin: 1rem
    }
    .name-price {
      width: 200px;
    }
  }
}

.empty-cart {
  text-align: center;
}


.checkout {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  h2 {
    font-weight: bold;
  }
  h4 {
    margin: 0;
    margin-top: 3rem;
    font-weight: bold;
  }
  button {
    width: 200px;
    margin: 0 auto;
  }
  .stripe-card {
    margin: 1rem 0;
  }
  .card-mumber {
    margin-top: 2rem;
  }
  .card-element {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 10px;
    width: 55%;
    margin: 0 auto
  }
  .error {
    border: 1px solid red
  }
  .error-message {
    color: red;
    font-size: 1.5rem;
  }
}

.nomad-input {
  margin: 10px;
}

.success-page {
  margin: 200px;
  text-align: center;
  justify-content: center;
  align-content: center;
  .success-button-container {
    align-items: center;
    .success-button {
      width: 10rem;
      height: auto;
    }
  }
}

